# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv
venv/
.env/
.ipynb_checkpoints/

# VSCode / IDE
.vscode/
.idea/
*.swp

# Data (opcional ajustar)
data/processed/
figs/

# Sistema
.DS_Store
Thumbs.db
